KUBECONFIG_PATH=/Users/yourname/.kube/config
# APISERVER is optional when KUBECONFIG_PATH is set; current context server will be used.
APISERVER=
USER_TOKEN=
NAMESPACE=default
USER_NAME=sealos-k8s-api
AUTH_HEADER=X-SEALOS-PNHT2
AUTH_PASSWORD=your_password_here
AUTH_TOKEN=replace_me
